body {
    background-color: #fff;
    width: 100vw;
    height: 100vh;
    position: relative;
    font-size: 12px;
    font-weight: 200;
    color: #333;
    margin: 0;
    font-family: 'Montserrat', 'M PLUS 1', 'Molle', sans-serif;
}

h1,
h2,
h3,
h4 {
    font-size: 12px;
    font-weight: 200;
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    color: #ddd;
    text-decoration: none;
}